version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: postgres-fridzsi
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - ${DB_PORT:-5432}:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - backend

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-fridzsi
    environment:
      PORT: ${PORT}
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - ${PORT:-3000}:3000
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: postgres-admin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${POSTGRES_ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${POSTGRES_ADMIN_PASSWORD}
    ports:
      - ${PGADMIN_PORT:-8080}:80
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - backend

volumes:
  postgres-data:
    name: fridzsi-postgres-data

networks:
  backend:
    driver: bridge
