services:
  db:
    image: postgres:16
    container_name: postgres-fridzsi
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-fridzsi
    environment:
      - PORT=${PORT}
    ports:
      - "${PORT}:3000"
    depends_on:
      - db
    volumes:
      - ./src:/api/src
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: postgres-admin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${POSTGRES_ADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${POSTGRES_ADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - db
volumes:
  postgres-data:
